{% if ( this.theme.testimonial_title or this.theme.testimonial_description or this.theme.testimonials|length > 0 ) %}
<section id="testimonials" class="container section pt-24 pb-0 md:pb-24">
    <div class="w-full md:w-1/2 pl-0 md:pl-16 text-center md:text-left">
        <h2 class="w-full md:w-3/4 font-bold text-5xl leading-none mb-6" data-sal="fade" data-sal-easing="ease-in-cubic">{{ this.theme.testimonial_title }}</h2>
        <p class="w-full md:w-3/4" data-sal="fade" data-sal-easing="ease-in-cubic">{{ this.theme.testimonial_description }}</p>
    </div>
    <div class="w-full md:w-1/2 pt-12 md:pt-0">
        <div class="relative" data-sal="fade" data-sal-easing="ease-in-cubic">
            <div class="glider">
                {% if (this.theme.testimonials|length > 0) %}
                    {% for testimonial in this.theme.testimonials %}
                    <div class="pt-12 pb-6 px-6">
                        <div class="text-center px-8 pb-16 border border-gray-100 rounded shadow-lg">
                            <div class="flex justify-center -mt-8">
                                <img src="{{ testimonial.image ? testimonial.image|media : 'https://i.pravatar.cc/100?img=8' }}" alt="Customer Testimonial Image" class="rounded-full shadow h-25 w-25">
                            </div>
                            <strong class="block text-xl font-bold leading-none mt-8">{{ testimonial.name }}</strong>
                            <p class="text-secondary mb-4 mt-1">{{ testimonial.company }}</p>
                            <em class="text-sm">{{ testimonial.comment }}</em>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <button class="glider-prev fal fa-chevron-left"></button>
            <button class="glider-next fal fa-chevron-right"></button>
            <div class="glider__dots"></div>
        </div>
    </div>
</section>
{% endif %}
